
html,body {
    background:#000;
    overflow:hidden;
    min-width:100%;
    padding:0;
    margin:0;
}

        #video-player {
            width: 100%;
            height: 100%;
            border: none;
position:absolute;
            
        }
        
.follow1{
  position:fixed;
  right: 0;
  left: 0;
  top: 0;
}
.follow1 img {
    width: 100%;
    height: 70px;


}

.follow2{
  position:fixed;
  right: 90px;
  bottom: 70px;
}
.follow2 img {
    width: 90px;
    height: 70px;


}
        
        
        


.follow{
  position:fixed;
  right:90px;
  top:50px;
}
.follow img {
    width: 90px;
    height: 90px;


}


    
  .swiper-container {
      
   bottom :0px;
    width: 100%;
    height: 70px;
   overflow: hidden;
    position: fixed;
  }
  .swiper-slide img {
    width: 100%;
    height: 70px;
    
  }
  

  


    
    













































